body{
    margin: 0;
    font-family: 'Arimo', sans-serif;
    color: #2c2c2c;
}
header{
    width: 80vw;
 height: 52.6px;
    margin: 0 auto;
    background-color: #24252b;
}
header li{
    height: 20px;
}
header li a{
   padding: 20px;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}
header li a:hover{
    background-color: #fecc00;
    color: black;
}
header ul{
    margin: 0;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
main{
    width: 80vw;
    margin: 0 auto;
    display: flex;
}
#my-photo{
    width: 20vw;
    
}
.about{
    text-align: center;
    width: 20vw;
    height: 100%;
    background: #1b1a21;  
}
.content{
    width: 65vw;
}
.my-name{
    
    background: #fecc00;
    text-align: center;
}
h1{
    margin: 10px;
    text-align: center;
    background: #fecc00;
}
.about-me,.skills,.work-experience, .education, .my-projects, .code-example{
    margin: 30px;
}
.about-me h2, .skills h2, .work-experience h2, .education h2, .my-projects h2, .code-example h2{
    padding: 20px;
    border-bottom: solid 3px black;
}
.my-projects ul{
    list-style: none;
}
.my-projects img{
    border: rgba(0, 0, 0, 0.1) solid 4px;
}
.my-projects h3{
    width: 30vw;
    border-bottom: solid 3px black;
}
.code-example pre{
    background-color: blanchedalmond;
}
.info-ex{
    font-weight: bold;
}
.yellow-box{
    position: absolute;
    background: #fecc00;
    width: 2vw;
   height: 20px;
}
.contacts-decoration{
    color: white;
    background-color: #24252b;
    height: 20px;
    margin: 30px 0 10px;
    position: relative;
   
}
.contacts-name{
    background-color: #24252b;
    margin: 0 auto;
   
}
.contacts a{
    color: white;
    text-decoration: none;
}
footer{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 80vw;
    height: 50px;
    background-color: #181e28;
    color: white;
   
}
footer a{
   color: white;
}


